In [20]:
import pandas as pd
import numpy as np

data = pd.read_csv('C:\\Users\\quach\\Desktop\\Personal\\FPT University\\SEMESTER 9\\Dataset\\FINAL_Data_set_FixHW.csv')
# df = data[['Hometown','Name']].groupby('Hometown')
# print(data[['smoking','Name']].groupby('smoking').count().sort_values('Name',ascending=False))
data.describe()

       Unnamed: 0  Cleanliess     Privacy
count  323.000000  323.000000  323.000000
mean   161.000000    8.012384    7.829721
std     93.386294    1.520002    2.124710
min      0.000000    1.000000    1.000000
25%     80.500000    7.000000    7.000000
50%    161.000000    8.000000    8.000000
75%    241.500000    9.000000   10.000000
max    322.000000   10.000000   10.000000